body {
width:100%; 
height:100%;
background: #cdcbcb;
}
.bl-background {
    background: #cdcbcb;
    padding: 20px;

	min-width:900px;
	max-width:1500px;
    margin:auto;

}
.bl-bought {
   background: #FFFFFF;

    float:	right;
	width:300px;
	border-radius: 10px;
	margin-left:10px;
	clear:left;
}
.bl-list {

  display:inline-block;
    max-width:1200px;
	min-width:470px;
 border-top: 1px solid #000000;
     border-bottom: 1px solid #000000;
    border-radius:10px;
	background: #FFFFFF;
	   float:right;
	
	
}
input[type="text"] {

width: 80%;

    padding: 12px 20px;
    margin: 8px ;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius:5px;
    transition: 0.5s;
    outline: none;

  
	
}
.bl-product{
    border-top: 0.5px solid #000000;
    min-width: 400px;
    max-width: 1000px;
    padding: 10px;



}





/*Кнопки*/

.bl-x{
    width:30px;
    height:30px;
    float:right;
    color:white;
    background-color: #ff0000;
    border: 2px solid #f5f5f5;
    border-radius:5px;
}
.bl-buy{
    width:100px;
    height:30px;
    float:right;
    border: 2px solid #f5f5f5;
    border-radius:5px;
}
.bl-buy1{
    display:inline-block;
    height:30px;
    
    border: 2px solid #f5f5f5;
	border-radius:5px;
}
.bl-title{
   padding:10px;
}

.bl-label {
display:inline-block;
 width: 20px;
   padding-left:10px;
    margin-left: 5px;
	margin-right:5px;
    background: #cdcbcb;
}
.bl-plus {
display:inline-block;
 
    width:30px;
    height:30px;
    
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
	
    background: #04a613;
}
.bl-minus {
display:inline-block;
 
    width:30px;
    height:30px;
    margin-left:60px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;

    background: red;
}
.bl-buttons{
display:inline-block;
 width: 150px;
   margin-left:150px;
    


}
.bl-buttons,.bl-buy1{
display:inline-block;
width:15%;
 margin-left:0px;
}
.bl-banner{
 position:absolute;
 bottom:-60px;
 left:20px;
    position:fixed;
 height:100px;
 width:100px;
 background-color:#660066;
 transition:	all	1s	ease
}
.bl-banner:hover{

 bottom:0px;


 
 
 
}
.bannerTitleText{
padding-left:5px;
color:white;
font-size: 23px;
}
.bannerName{
padding-left:5px;
padding-top:20px;
color:white;

}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    
    position: absolute;
    z-index: 1;
}
.tooltip:hover:after {
    visibility: visible;
}
.addButton{

}
@media	 screen and (max-width:	700px)	{
    .bl-list{
        box-sizing: border-box;
        width:100%;
        margin: auto;
    }

    .bl-background{
        min-width: 380px;
        max-width:480px;
    }


    .bl-bought {

        margin: auto;
        width: 100%;
        margin-top: 20px;


    }
}
@media	print {

    .bl-banner{
        position:absolute;
        bottom:10px;
        left:20px;
        position:fixed;
        height:100px;
        width:100px;
        background-color:#000000;

       border: 1px solid #000000;
    }

    .bannerTitleText{
        padding-left:5px;
        color:black;
        font-size: 23px;
    }
    .bannerName{
        padding-left:5px;
        padding-top:20px;
        color:black;

    }

}